﻿
@model IEnumerable<Oodle.Models.Class>

@{
    ViewBag.Title = "List";
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  
<div class="sidenav">
    <div class="slide-toggle2">
        <div>
            <br />
            <!-- fluid -->
            <div class="box-toggle">
                <div class="contorol">
                    <h3>My Classes</h3>
                    <span class="toggle-info pull-left">
                        <i class="fa fa-plus"></i>
                    </span>
                </div>
                <div class="content-box">
                    <div class="black">
                        <form method="post" action="FilterList">
                            <h4>Filter by Roles</h4>
                            <input type="checkbox" name="student" checked>
                            <label for="student">Student</label>
                            <br />
                            <input type="checkbox" name="teacher" checked>
                            <label for="teacher">Teacher</label>
                            <br />
                            <input type="checkbox" name="grader" checked>
                            <label for="grader">Grader</label>
                            <br />
                            <input type="checkbox" name="pend" checked>
                            <label for="pend">Pending</label>

                            <hr />

                            <h4>Filter by Subject</h4>
                            <input type="checkbox" name="math" checked>
                            <label for="math">Math</label>
                            <br />
                            <input type="checkbox" name="english" checked>
                            <label for="english">English</label>
                            <br />
                            <input type="checkbox" name="cs" checked>
                            <label for="cs">Computer Science</label>
                            <br />
                            <input type="checkbox" name="art" checked>
                            <label for="art">Art</label>

                            <hr />

                            <h4>Sort By</h4>
                            <input type="radio" id="mostRecent" name="sort" value="mostRecent">
                            <label for="mostRecent">Most Recent</label>
                            <br />
                            <input type="radio" id="name" name="sort" value="name">
                            <label for="name">Name</label>
                            <br />
                            <input class="createClassButton btn btn-info" type="submit" value="Search for Classes!" />
                        </form>
                    </div>
                </div>
                <div class="contorol">
                    <h3>Classes</h3>
                    <span class="toggle-info pull-left">
                        <i class="fa fa-plus"></i>
                    </span>
                </div>
                <div class="content-box">
                    <div class="black">
                        <form method="post" action="FilterListAll">
                            <h4>Filter by Subject</h4>
                            <input type="checkbox" name="math" checked>
                            <label for="math">Math</label>
                            <br />
                            <input type="checkbox" name="english" checked>
                            <label for="english">English</label>
                            <br />
                            <input type="checkbox" name="cs" checked>
                            <label for="cs">Computer Science</label>
                            <br />
                            <input type="checkbox" name="art" checked>
                            <label for="art">Art</label>

                            <hr />

                            <h4>Sort By</h4>
                            <input type="radio" id="mostRecent" name="sort" value="mostRecent">
                            <label for="mostRecent">Most Recent</label>
                            <br />
                            <input type="radio" id="name" name="sort" value="name">
                            <label for="name">Name</label>
                            <br />
                            <input class="createClassButton btn btn-info" type="submit" value="Search for Classes!" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
<script type="text/javascript" src="~/Scripts/scriptone.js"></script>
}


<div id="classListBody">


    <h2 style="text-align:center;">
        Want to teach a class?
    </h2>
    <a id="buttonAncor" class="createClassButton btn btn-info" type="button" href="@Url.Action("Create", "Class")">
        Create a new class
    </a>


    <h2 style="text-align:center;">
        All Current Classes: <br />
    </h2>

    <div>
    @foreach (var i in Model)
    {
        <div class="block">
            <a href="@Url.Action("Index", "Class", new { ClassID = (i.ClassID) })">
                <div class="classItem">
                    <div class="title">
                        @Html.DisplayFor(Name => i.Name)
                    </div>
                    <div class="description">
                        @Html.DisplayFor(Description => i.Description)
                    </div>
                </div>
            </a>
        </div>
        <br />
        <br />
}
    </div>

</div>
