﻿
@model Oodle.Models.ViewModels.TeacherVM

<!DOCTYPE html>
<html>
<head>

    <!--Jquery-->
    <script src="jquery-3.3.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Ubuntu" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/Scripts/main.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Oodle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/img/logo.png" class="img-center" height="45" width="90" />
            </div>
            <div class="navbar-collapse collapse" ">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Classes", "List", "Class")</li>
                    <li>@Html.ActionLink("Tools", "Tools", "Home")</li>
                    <li>@Html.ActionLink("Calendar", "Calendar", "Home")</li>
                    <li><a href="https://oodle-dev.slack.com/" target="_blank">Go to Slack</a></li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <!--Local nav bar for Students-->
    <nav class="navbar" style="float:left;border-right:solid black 1px;font-size:22px;padding:10px;">
        <br />
        <ul>@Html.ActionLink("Home", "Index", "Students", new { ClassID = Model.cl.ClassID }, new { @style = "color:#17252A" })</ul>
        <ul>@Html.ActionLink("Slack", "UnderDevelopment", "Home", new { ClassID = Model.cl.ClassID }, new { @style = "color:#17252A" })</ul>
        <ul>@Html.ActionLink("Grades", "UnderDevelopment", "Home", new { ClassID = Model.cl.ClassID }, new { @style = "color:#17252A" })</ul>
        <ul>@Html.ActionLink("Assignments", "Assignment", "Students", new { ClassID = Model.cl.ClassID }, new { @style = "color:#17252A" })</ul>
        <ul>@Html.ActionLink("Quizzes", "UnderDevelopment", "Home", new { ClassID = Model.cl.ClassID }, new { @style = "color:#17252A" })</ul>
        <ul>@Html.ActionLink("Tasks", "UnderDevelopment", "Home", new { ClassID = Model.cl.ClassID }, new { @style = "color:#17252A" })</ul>
    </nav><br />

    <div class="container body-content">
        @RenderBody()

        <footer style="position:absolute;bottom:0;">

            <p>&copy; @DateTime.Now.Year - Oodle Incorporated</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
